.quiz{
    background-color: blueviolet;
    height: 800px;
    margin-top: 0px;
    text-align: center;
    top: 200px;
    
}
p{
    margin-top: 0px;
    position: relative;
    top:220px;
    font-size: 30px;
    margin-bottom: 0px;;
}
button{
    position: relative;
    top:220px;
    font-size: 20px;
    background-color: green;
    padding: 7px;
    border-radius: 15px;
    padding-right: 75px;
    padding-left: 75px;
}